@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 18px;
    /* height + margin-top + 2x border | mobile height is 3rem */
    --header-height: calc(4rem + 0.5rem + 2px);
  }

  ::-moz-selection {
    color: inherit;
    background: hsl(var(--primary-500) / 50%);
  }

  ::selection {
    color: inherit;
    background: hsl(var(--primary-500) / 50%);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .text-sideways {
    text-orientation: sideways;
  }

  .text-initial {
    text-orientation: initial;
  }

  .writing-vertical-lr {
    writing-mode: vertical-lr;
  }

  .writing-initial {
    writing-mode: initial;
  }
}
